.textExample {
  color: #043e39;
  font-size: 20px;
  font-weight: 600;
  font-style: italic; }

.textTitle {
  color: #00221f;
  text-decoration: underline;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  margin-left: 20px; }

.textReserva {
  color: #00035d;
  font-size: 15px;
  font-weight: 600; }

.textPrecio {
  color: #00035d;
  font-size: 60px;
  font-weight: 600; }

.textLugares {
  color: #009689;
  font-size: 16px;
  font-weight: 600; }
