/*si*/
/*si*/
/*si*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto:wght@300&family=Ubuntu:wght@500&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/*.llamada-text {
  @include text('Roboto', italic, bold, 5em, center, black);
}*/
/*.llamada-flex {
  @include d-flex(space-between, center, row, nowrap);
}*/
/*.llamada-box {
  @include box(red, $btnBorderColor, none);
}*/
/*.llamada-boxExtra {
  @include boxExtra(red, solid, blue, 2px, none);
}*/
/*.llamada-size{
   @include size(50px, 50px);
}*/
/*.llamada-anima {
  @include anima(changeImg, 20s, infinite, 0, alternate, ease-out);
}*/
/*.llamada-break {
  @include media(mobile) {
    background-color: violet;
  }
  @include media(tablet) {
    background-color: deeppink;
    width: 50%;
  }
  @include media(ajust) {
    font-size: 1.5em;
  }
}*/
div .card-footer .btnAddBooking {
  width: 240px;
  height: 90px;
  background-color: #007928;
  border: solid #8f8f8f 1px;
  border-radius: 5px; }
  div .card-footer .btnAddBooking:hover {
    background-color: #10e958;
    border: solid white 1px;
    border-radius: 5px; }

div .card-footer .btnSelect {
  width: 120px;
  height: 45px;
  background-color: #007928;
  border: solid #8f8f8f 1px;
  border-radius: 5px; }
  div .card-footer .btnSelect:hover {
    background-color: #10e958;
    border: solid white 1px;
    border-radius: 5px; }

div .card-footer .btnDelete {
  width: 120px;
  height: 45px;
  background-color: #920000;
  border: solid #8f8f8f 1px;
  border-radius: 5px; }
  div .card-footer .btnDelete:hover {
    background-color: red;
    border: solid white 1px;
    border-radius: 5px; }

form .modal-footer .btnSave {
  width: 120px;
  height: 45px;
  background-color: #007928;
  border: solid #8f8f8f 1px;
  border-radius: 5px; }
  form .modal-footer .btnSave:hover {
    background-color: #10e958;
    border: solid white 1px;
    border-radius: 5px; }

form .modal-footer .btnClose {
  width: 120px;
  height: 45px;
  background-color: #920000;
  border: solid #8f8f8f 1px;
  border-radius: 5px; }
  form .modal-footer .btnClose:hover {
    background-color: red;
    border: solid white 1px;
    border-radius: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: linear-gradient(90deg, #013330 0%, #096979 32%, #00d4ff 100%); }

.textTitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: white;
  margin-left: 20px; }

div .cardHabitaciones {
  width: 48rem;
  background-color: #29777d;
  border: solid #043e39 3px;
  border-radius: 3px;
  font-family: "Heebo", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-align: justify;
  color: white; }

div .cardSeleccion {
  display: flex;
  justify-content: justify;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 48rem;
  height: 48rem;
  background-color: #00383c;
  border: solid #105459 2px;
  border-radius: 3px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: white; }

.textReserva {
  color: #00035d;
  font-size: 15px;
  font-weight: 600; }

.textPrecio {
  color: #00035d;
  font-size: 60px;
  font-weight: 600; }

.textLugares {
  color: #009689;
  font-size: 16px;
  font-weight: 600; }

.contenedorPrincipal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "containerHabitaciones containerSeleccion"; }

.habitaciones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.seleccion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap; }

.buttonsEffectSucces, div .card-footer .btnAddBooking, div .card-footer .btnSelect, form .modal-footer .btnSave {
  padding: 0 2px;
  /*@include box($btnSuccesOffBg, $btnBorderColor, 5px);*/
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  text-align: none;
  color: #8f8f8f;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }
  .buttonsEffectSucces:hover, div .card-footer .btnAddBooking:hover, div .card-footer .btnSelect:hover, form .modal-footer .btnSave:hover {
    /*@include boxExtra($btnSuccesOnBg, solid, rgb(255, 255, 255), 1px, 5px);*/
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer; }

.buttonsEffectDeny, div .card-footer .btnDelete, form .modal-footer .btnClose {
  width: 120px;
  height: 45px;
  padding: 0 2px;
  /* @include box($btnDeleteOffBg, $btnBorderColor, 5px);*/
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  text-align: none;
  color: #8f8f8f;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer; }
  .buttonsEffectDeny:hover, div .card-footer .btnDelete:hover, form .modal-footer .btnClose:hover {
    /*@include boxExtra($btnDeleteOnBg, solid, rgb(255, 255, 255), 1px, 5px);*/
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer; }

div div .formHeader {
  font-size: 4em;
  background-color: #29777d; }

.formBody {
  font-family: "Fredoka One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  text-align: none;
  color: white;
  background-color: #00383c; }

form div div .inputText {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  text-align: none;
  color: black;
  height: 50px; }
