//mixins
@mixin text($family, $style, $fontWeight, $size, $align, $color) {
  font-family: $family;
  font-style: $style;
  font-weight: $fontWeight;
  font-size: $size;
  text-align: $align;
  color: $color;
}
//como se utiliza "text"
/*.llamada-text {
  @include text('Roboto', italic, bold, 5em, center, black);
}*/

@mixin d-flex($justify, $align, $dire, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dire;
  flex-wrap: $wrap;
}
//como se utiliza "d-flex"
/*.llamada-flex {
  @include d-flex(space-between, center, row, nowrap);
}*/

@mixin box($backGround, $border, $radius) {
  background-color: $backGround;
  border: $border;
  border-radius: $radius;
}
//como se utiliza "box"
/*.llamada-box {
  @include box(red, $btnBorderColor, none);
}*/

@mixin boxExtra($backGround, $border, $brColor, $edge, $radius) {
  background-color: $backGround;
  border: $border $brColor $edge;
  border-radius: $radius;
}
//como se utiliza "boxExtra"
/*.llamada-boxExtra {
  @include boxExtra(red, solid, blue, 2px, none);
}*/

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
//como se utiliza "size"
/*.llamada-size{
   @include size(50px, 50px);
}*/
