// color para backgrounds
$mainBgColor: rgb(41, 119, 125);
$mainDarkColor: rgb(0, 56, 60);
$selectBgColor: rgba(4, 62, 57, 0.531);
$bookinBgColor: rgba(184, 248, 248, 0.323);

// color para botones
$btnBgColor: rgb(4, 62, 57);
$secondaryBtnColor: rgb(16, 84, 89);
$btnSuccesOffBg: rgb(0, 121, 40);
$btnDeleteOffBg: rgb(146, 0, 0);
$btnSuccesOnBg: rgb(16, 233, 88);
$btnDeleteOnBg: rgb(255, 0, 0);

// color para bordes
$mainBorderColor: solid rgb(4, 62, 57) 3px;
$secondaryBorderColor: solid rgb(16, 84, 89) 2px;
$borderSecondColor: solid rgb(15, 48, 88) 5px;
$btnBorderColor: solid rgb(143, 143, 143) 1px;
$bookingBorderColor: solid rgba(23, 75, 61, 0.352) 10px;

// color de textos
$mainTextColor: rgb(255, 255, 255);
$secondTextColor: rgb(0, 0, 0);
$btnTextColor: rgb(143, 143, 143);
$thirdTextColor: rgb(219, 219, 219);

// sombras y rebordes
$textShadows: 2px 2px 2px rgb(94, 94, 94);
$neonEffect: 2px 2px 0 rgb(0, 192, 150), 2px -2px 0 rgb(0, 192, 150),
  -2px 2px 0 rgb(0, 192, 150), -2px -2px 0 rgb(0, 192, 150),
  2px 0px 0 rgb(0, 192, 150), 0px 2px 0 rgb(0, 192, 150),
  -2px 0px 0 rgb(0, 192, 150), 0px -2px 0 rgb(0, 192, 150);
