.textTitle {
  @include text($mainFont, normal, 600, 50px, center, $mainTextColor);
  margin-left: 20px;
}

div .cardHabitaciones {
  width: 48rem;
  @include box($mainBgColor, $mainBorderColor, 3px);
  @include text($secondaryFont, italic, 600, 20px, justify, $mainTextColor);
}

div .cardSeleccion {
  @include d-flex(justify, center, row, nowrap);
  @include size(48rem, 48rem);
  @include box($mainDarkColor, $secondaryBorderColor, 3px);
  @include text($thirdFont, normal, 600, 30px, center, $mainTextColor);
}

.textReserva {
  color: #00035d;
  font-size: 15px;
  font-weight: 600;
}

.textPrecio {
  color: #00035d;
  font-size: 60px;
  font-weight: 600;
}

.textLugares {
  color: #009689;
  font-size: 16px;
  font-weight: 600;
}

.contenedorPrincipal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "containerHabitaciones containerSeleccion";
}

.habitaciones {
  @include d-flex(flex-start, center, column, nowrap);
}

.seleccion {
  @include d-flex(flex-start, center, column, nowrap);
}

.buttonsEffectSucces {
  padding: 0 2px;
  /*@include box($btnSuccesOffBg, $btnBorderColor, 5px);*/
  @include text($mainFont, normal, bold, 1em, none, $btnTextColor);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    /*@include boxExtra($btnSuccesOnBg, solid, rgb(255, 255, 255), 1px, 5px);*/
    color: $mainTextColor;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

div .card-footer .buttonsEffectDeny {
  @include size(120px, 45px);
  padding: 0 2px;
  /* @include box($btnDeleteOffBg, $btnBorderColor, 5px);*/
  @include text($mainFont, normal, bold, 1em, none, $btnTextColor);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  &:hover {
    /*@include boxExtra($btnDeleteOnBg, solid, rgb(255, 255, 255), 1px, 5px);*/
    color: $mainTextColor;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

div div .formHeader {
  background-color: #030be6;
}

.formBody {
  @include text($mainFont, normal, normal, 2em, none, $mainTextColor);
  background-color: #00035d;
}
